.container{
  justify-content: center;
  display: grid;
  padding-top: 7rem;
  grid-template-columns: repeat(auto-fit,30rem)
}

.separador{
  padding: 10px;
}

.lenguaje_selector{
  padding-left: 74rem;
  padding-top: 10px;
}